.header
	position: absolute
	z-index: 2
	top: 64px
	left: 0
	height: auto
	width: 100%
	&__logo
		display: inline-block
		height: 48px
		width: 240px
		text-decoration: none
		svg
			width: 100%
			height: auto
			path
				transition: all .7s ease
		&.gray
			svg
				path
					fill: #c4c4c4
			&:hover
				svg
					path
						fill: $ac
	&__contacts,
	&__lang
		display: flex
		align-items: center
		height: 48px
		a
			position: relative
			&::before
				content: ''
				position: absolute
				bottom: 2px
				left: 0
				display: inline-block
				width: 0
				height: 1px
				background-color: rgba(255, 255, 255, .3)
				transition: all .3s ease
			&:hover
				text-decoration: none
				&::before
					width: 100%
		&.gray
			a
				color: $text
				&:hover
					color: $ac
				&::before
					background-color: rgba(0, 117, 255, .3)
	&__lang
		justify-content: flex-end
		text-align: right
		a
			&:first-child
				margin-right: 3px
			&.active
				font-weight: bold

+media(xs)
	.header
		top: 40px
		&__logo
			height: 24px
			width: 120px
		&__contacts,
		&__lang
			height: 24px
		&__lang
			a.active
				display: none
