.main
	position: relative
	height: 100vh
	margin: 0
	padding: 0
	&__line
		position: absolute
		top: 0
		left: 16px
		z-index: 1
		display: inline-block
		width: 2px
		min-height: 100vh
		height: 100%
		// background-color: rgba(255, 255, 255, .1)
		background-color: red
		&_right
			left: -8px
		&.translate
			transform: translateY(100vh)
			// background-color: rgba(234, 234, 234, .9)
	&__bg
		position: relative
		top: 0
		display: block
		padding-top: 224px
		width: 100%
		height: 100vh
		background: url("/img/main-bg.png") 50% 50% / cover no-repeat
	&__contacts
		margin-top: 150px

+media(sm)
	.main
		&__line
			&_middle
				left: 16px
			&_right
				left: auto
				right: 16px
		&__bg
			padding-top: 154px

+media(xs)
	.main
		&__bg
			padding-top: 166px
		&__contacts
			margin-top: 104px

.main-bg-footer
	&__btn-go
		position: absolute
		bottom: 28px
		left: 0px
		transform: translateX(-4px) rotate(90deg)

+media(sm)
	.main-bg-footer
		&__btn-go
			bottom: 32px

+media(xs)
	.main-bg-footer
		&__btn-go
			bottom: 20px

.main-bg
	&__text-center
		position: relative
		display: block
		margin-bottom: 60px
		padding-left: 10px
		color: #fff
	&__title
		margin-bottom: 15px
		padding-left: 15px
		color: #fff
	&__desc
		position: relative
		padding-left: 15px
		color: #fff
	&__footer
		position: absolute
		z-index: 1
		bottom: 0
		width: 100%

.sliders
	background-color: #fff
	&__slider
		z-index: 2
		padding-top: 152px
	&__btn-go
		position: absolute
		top: 28px
		left: 0px
		transform: translateX(-4px) rotate(-90deg)
	&__wrap
		position: relative
		min-height: 100vh
	&__bottom-line
		position: absolute
		z-index: 2
		bottom: 42px
		display: block
		width: 100%
		height: 2px
		background-color: blue
		// background-color: rgba(234, 234, 234, .9)

+media(sm)
	.sliders
		&__btn-go
			left: 10px
			top: 20px
		&__wrap
			padding-bottom: 92px
		&__bottom-line
			bottom: 18px

+media(xs)
	.sliders
		// &__btn-go
		// 	left: 30px
		// 	top: 8px
		&__slider
			padding-top: 104px
		&__wrap
			// padding-bottom: 92px

.slider
	background-color: transparent
	&__item
		position: relative
	&__title
		display: block
		margin-bottom: 24px
		font-family: "GothamPro-Bold"
		font-size: 28px
		line-height: 32px
	&__desc
		+b4col(_col(6))
		margin-bottom: 16px
		font-size: 14px
		object-fit: cover
		object-position: 50% 50%
	&__img
		+b4col(_col(6))
		height: 264px
		margin: 0
		order: 1
		&_no-popup
			margin-left: _col(3)
	&__middle
		display: flex
		justify-content: flex-end
		align-items: flex-start
		flex-wrap: wrap
		&_no-popup
			justify-content: flex-start
	&__annotation
		+b4col(_col(5))
		order: 3
		font-family: "GothamPro-Medium"
		font-size: 14px
		&::after
			content: '01'
			position: absolute
			top: -24px
			left: 0
			font-family: "GothamPro-Medium"
			font-size: 12px
			line-height: 24px
			color: rgba(44, 44, 44, .3)
		&_2
			+b4col(calc(#{_col(4)} - 14px))
			margin-left: 14px
			&::after
				content: '02'
		&_3
			+b4col(_col(3))
			order: 2
			&::after
				content: '03'
	&__agree
		+b4col(_col(3))
		font-family: "GothamPro-Black"
		order: 4
	&__popup-btn
		margin-top: 8px
	&__popup
		position: absolute
		z-index: 4
		bottom: 0
		left: 0
	&__next,
	&__prev
		position: absolute
		z-index: 2
		top: 50%
	&__next
		right: 48px
		transform: translateY(-50%)
	&__prev
		left: 48px
		transform: translateY(-50%) rotate(180deg)
		transform-origin: 50% 50%
	&__next,
	&__prev
		div
			position: absolute
			display: block
			top: 0%
			cursor: pointer
			width: 22px
			height: 22px
			transition: color .3s ease
			&:hover
				color: $ac
			&::before
				content: attr(data-text)
				display: block
				width: 500px
				text-align: center
				white-space: nowrap
				transform-origin: 50% 50%
	&__next
		div
			right: -50px
			&::before
				transform: translateX(-50%) rotate(90deg)
	&__prev
		div
			left: 68px
			&::before
				transform: translateX(-50%) rotate(90deg)
	&__dots-footer
		position: absolute
		bottom: 42px
		z-index: 3
		width: 100%
	&__dots
		display: flex
		justify-content: space-between
		width: 100%
		overflow-x: auto
		&::-webkit-scrollbar
			width: 0px
			height: 0px
		button
			position: relative
			margin-right: 38px
			padding-bottom: 15px
			white-space: nowrap
			&:last-child
				margin-right: 0
			&::after
				content: ''
				position: absolute
				left: 50%
				bottom: 0
				display: block
				width: 0
				height: 0
				border-left: 4px solid transparent
				border-right: 4px solid transparent
				border-bottom: 8px solid $ac
			&::before
				content: ''
				position: absolute
				left: 0
				bottom: 18px
				display: block
				width: 0
				height: 1px
				background: $ac-opacity
				transition: width .3s ease
			&:hover
				color: $ac
				&::before
					width: 100%
			&.active
				color: $ac

+media(sm)
	.slider
		&__title
			margin-bottom: 52px
		&__desc
			+b4col(_col(10))
			margin-bottom: 24px
		&__middle
			flex-direction: column
		&__img
			align-self: center
			&_no-popup
				margin: 0
		&__agree
			+b4col(_col(6))
			max-width: 328px
			align-self: flex-end
		&__annotation
			+b4col(_col(6))
			margin-bottom: 24px
			&:last-child
				margin-bottom: 0
			&_2
				margin-left: 0
			&_3
				order: 3
		&__popup
			bottom: 50px
		&__next,
		&__prev
			width: 20px
			height: 13px
			div
				display: none !important
		&__next
			right: 10px
		&__prev
			left: 10px
		&__dots-next,
		&__dots-prev
			display: none !important
		&__dots-footer
			bottom: 20px

+media(xs)
	.slider
		height: 100%
		&__title
			min-height: 78px
			margin-bottom: 16px
			font-size: 16px
			line-height: 1.64
		&__desc,
		&__annotation
			+b4col(100%)
		&__img
			width: 100%
			height: auto
		&__agree
			+b4col(100%)
			margin-top: 0
			align-self: flex-start
		&__next
			right: 2px
		&__prev
			left: 2px
		&__dots-footer
			bottom: 18px

.main-contacts
	min-height: 100vh
	height: 100%
	overflow-y: scroll

+media(xs)
	.main-contacts
		height: auto
		min-height: 100%

.contacts-info
	position: relative
	display: block
	padding-left: 42px
	font-size: 14px
	&::before,
	&::after
		content: ''
		position: absolute
		display: block
	&::before
		left: 0
		width: 2px
		height: 100%
		background-color: $text
	&::after
		top: 0
		left: 12px
		width: 20px
		height: 20px

.contacts
	&__title
		display: block
		margin-bottom: 28px
		font-family: "GothamPro-Bold"
		font-size: 28px
		line-height: 32px
	&__desc
		margin-bottom: 48px
		strong
			display: block
			margin-top: 22px
	&__location
		margin-bottom: 32px
		&::after
			background: url("/img/icon-svg/mark.svg") 50% 50% no-repeat
	&__email
		display: inline-block
		margin-bottom: 32px
		color: $text
		text-decoration: none
		&:hover
			color: $ac
			text-decoration: none
		&::after
			background: url("/img/icon-svg/message.svg") 50% 50% no-repeat
	&__phone
		margin-bottom: 78px
		span
			display: block
		&::after
			top: 50%
			transform: translateY(-50%)
			background: url("/img/icon-svg/phone.svg") 50% 50% no-repeat
	&__bottom-desc
		font-family: "GothamPro-Medium"
	&__map
		position: absolute
		right: 0
		top: -56px
		display: block
		height: 344px
		width: 100%

+media(sm)
	.contacts
		&__title
			min-height: 64px
			margin-bottom: 18px
		&__desc
			margin-bottom: 18px
		&__phone
			margin-bottom: 174px
		&__map
			height: 220px
			top: 20px

+media(sm)
	.contacts
		&__title
			margin-bottom: 16px
			font-size: 16px
			min-height: 78px
		&__desc
			margin-bottom: 16px
			strong
				margin-top: 16px
		&__location,
		&__email
			margin-bottom: 24px
		&__phone
			margin-bottom: 32px
		&__map
			position: relative
			top: 0
			height: 134px
			margin-bottom: 24px
		&__bottom-desc
			margin-bottom: 120px

.popup
	display: none
	opacity: 0
	+b4col(_col(9))
	height: 100%
	transition: all .3s ease
	&_2
		height: auto
	&_3
	&.display
		display: flex
		align-items: flex-end
	&.visible
		opacity: 1
	&__list
		display: flex
		flex-wrap: wrap
		width: 100%
		height: 100%
		padding: 16px
		background-color: #fff
		box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.12)
		counter-reset: list
		overflow-y: scroll
	&__item
		position: relative
		display: inline-block
		margin-bottom: 8px
		width: calc(50% - 4px)
		padding-left: 48px
		&:last-child,
		&:nth-child(odd):nth-last-child(2)
			margin-bottom: 0
		&:nth-child(odd)
			margin-right: 8px
		&::before
				content: counter(list) ''
				counter-increment: list
				position: absolute
				left: 0
				display: inline-flex
				align-items: center
				justify-content: center
				width: 38px
				height: 32px
				color: #c4c4c4
				font-family: "GothamPro-Bold"
				font-size: 30px
				line-height: 1
		span
			display: block
			margin-bottom: 16px
			font-family: "GothamPro-Bold"
			font-size: 14px
			line-height: 32px
	&__block-img
		position: relative
		display: block
		width: 100%
		padding: 42px 50px 42px 0
		overflow: hidden
		box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.12)
		background-color: #fff
		img
			position: absolute
			top: 0
			left: 0
			z-index: 1
			display: block
			width: 376px
			height: 263px
	&__block-content
		position: relative
		display: block
		padding: 78px 56px 82px 75px
		box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.12)
		background-color: #fff
		img
			position: absolute
			top: 46px
			left: 12px
			display: block
			width: 350px
			height: 230px
	&__text
		span
			display: block
			padding-left: 284px
			&:first-child
				margin-bottom: 20px
				font-family: "GothamPro-Bold"
				font-size: 20px
				line-height: 27px
	&__content
		padding-left: 376px
		span
			display: block
			&:first-child
				margin-bottom: 32px
				font-family: "GothamPro-Bold"
				font-size: 20px
				line-height: 27px

+media(sm)
	.popup
		+b4col(100%)
		max-height: 544px
		&__block-img
			padding: 50px 16px 44px 72px
			img
				width: 295px
				height: 263px
		&__block-content
			padding: 30px 16px 34px 72px
			img
				left: 0
				top: 0
				width: 300px
				height: 200px
		&__text
			span
				&:first-child
					height: 135px
					margin-bottom: 16px
					padding-top: 0px
				&:last-child
					padding-left: 0
		&__content
			padding: 0
			span:first-child
				margin-bottom: 30px
				padding-left: 265px
			span:last-child
				padding-right: 56px

+media(xs)
	.popup
		max-height: 420px
		&__block-img
			padding: 124px 16px 16px
			height: 100%
			img
				width: 100%
				height: 168px
		&__block-content
			padding: 22px 16px 16px
			img
				position: relative
				width: 255px
				height: 180px
		&__text,
		&__content
			span
				&:first-child,
				&:last-child
					z-index: 0
					height: auto
					padding: 0
					font-size: 12px
					line-height: 1.64
				&:first-child
					margin-bottom: 16px
		&__list
			flex-wrap: wrap
		&__item
			margin-bottom: 24px
			width: 100%
			padding-left: 40px
			&:nth-child(odd)
				margin-right: 0
			&:nth-child(odd):nth-last-child(2)
				margin-bottom: 24px
			span
				margin-bottom: 12px
				font-size: 12px
